# Voici les modules nécessaire à l'exécution des différents scripts présents dans le projet
# Cette liste a été générée en parcourant chacun des fichiers *.ipynb et *.py présents dans les dossiers et sous-dossiers du projet
datetime
gc
joblib
json
lightgbm
matplotlib
mlflow
numpy
os
pandas
seaborn
shap
time
warnings